# Adding in code to create a solution for the error recieved during Render Deployment
# The sole purpose of this is to resolve the Joi and Hapi conflict without adjusting the package.json script
npm install --legacy-peer-deps