{{> menu active="about"}}

<section class="section">
  <h1> Irish Wildlife Observation Spots </h1>

  <p>
    Welcome to the new Irish Wildlife Observation Spots Web Application! This web application is designed to help users and wildlife enthusiats log, explore
    and find locations across the country where wildlife is commonplace.
  </p>

  <p>
    Users can sign up and create and add various types of observation spots such as boglands, coastal habitats, woodloand reserves, forests and national parks.
    Each of the observation spot entries can have descriptions, location details and also lots of information about the species and types of creaturtes that can be seen there.
  </p>

  <p?>
    This project has been created as an assignment as part of the Full Stack 1 module for the HDIP in Computer Science course at SETU.
    The project implements various full stack frameworks and learnings such as using MongoDB, Handlebars, Hapi and also Node.js
  </p>

</section>
