{{> menu}}

<section class="section">

    <div class="title">Community Wildlife Spots</div>

    <p>Here is a page where you and other users can share Wildlife Spots to visit and explore!</p>

    {{> list-spots spots=spots}}

</section>

