{{> welcome-menu}}

<div class="columns is-vcentered ">
  <div class="column has-text-centered">
    <h1> <strong> Sign up or Log in... </strong> </h1>
  </div>
  <div class="column">
    <img src="/images/Squirrel.jpg">
  </div>
</div>

