{{> menu}}

<section class="section">
  <div class="title">
    {{spot.title}}
  </div>

  <pclass="subtitle"> 
    <strong>Wildlife Sightings Page</strong>
  </p>
  {{> list-sightings sightings=spot.sightings}}
  {{> add-sighting spotId=spot._id}}


</section>
