{{> menu}}

<section class="section">
  <div class="title">
    {{playlist.title}}
  </div>

  <pclass="subtitle"> 
    <strong>Wildlife Sightings Page</strong>
  </p>
  {{> list-sightings}}
  {{> add-sighting}}


</section>
