{{> menu}}

<section class="section">
  <div class="title">
    {{spot.title}}
  </div>

  <h2 class="title is-4"> Wildlife Sightings Page</h2>
  {{> list-sightings sightings=spot.sightings}}
  {{> add-sighting spotId=spot._id}}


<h2 class="title is-4"> Wildlife Spot Reviews</h2>
  {{> list-reviews reviews=spot.reviews}}
  {{> add-review spot=spot}}


</section>
