{{> menu active="country-map"}}
<section class="section">

    <div class="title"> Irish Wildlife Exploration Spot Map</div>
    <div id="map" style=" height: 500px; width: 700px;"></div>
</section>


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>


<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="/js/map.js"></script>

