
  <form action="/dashboard/addspot" method="POST">
    <div class="field">
      <label class="label">Observation Spot Name</label>
      <input class="input" type="text" placeholder="Enter the Observation Spot Name" name="title">
    </div>
  

     <div class="field">
      <label class="label">Description</label>
      <input class="input" type="text" placeholder="Please enter a small description for this certain observation spot" name="description">
    </div>
   

      <div class="field">
      <label class="label">Image URL</label>
      <input class="input" type="text" placeholder="Please enclose a picture URL of the spot ()" name="image">
    </div>
   

     <div class="field">
      <label class="label">Spot Category</label>
      <input class="input" type="text" placeholder="Wetland, forest, park etc" name="category">
    </div>
   
    <button class="button is-link">Add observation Spot</button>

  </form>


