<form class="box" action="/playlist/{{playlist._id}}/addtrack" method="POST">
  <label>Enter Animal Sighting Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Animal Species" name="title">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Animal Description" name="artist">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Sighting Season" name="duration">
      </div>
    </div>
  </div>
  <button class="button is-primary"> Add  Animal Sighting </button>
</form>
