
<form class="box" action="/spot/{{spot._id}}/addsighting" method="POST">
  <label>Enter Animal Sighting Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Animal Species" name="species">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Animal Description" name="description">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Sighting Season" name="season">
      </div>
    </div>
  </div>
  <button class="button is-primary"> Add  Animal Sighting </button>
</form>
