{{#each reviews}}

<div class=""box>

    <h3 class="title is-5">{{title}}</h3>

    <p class="mb-3">{{comment}}</p>
    <span class="tag is-info">Category:{{category}}</span>

    </div>

    {{/each}}
